@mixin wrapper {
    max-width: 42rem;
    margin: auto;
}

@mixin links {
    color: #06f;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}

p {
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.75;
    margin: 2rem 0;
    text-indent: 5px;
  }